.navbar-crm{
	border-radius: 0;
}
.page-header-crm{
	margin: 0 0 20px;
}
.form-regulation{
	padding-left: 15px;
}
.btn-go{
	padding: 6px 30px;
}
.form-grid-search{
	margin-bottom: 10px;
}
.grid-pagination{
	margin: 0;
	float: right;
}
.table-wrap{
	width: 100%;
	overflow: auto;
}
.table-regulation{
	width: 1700px;
	margin-bottom: 0;
}

.tbl-col-legal{
	width: 200px;
}
.tbl-col-count{
	width: 50px;
}
.tbl-col-error{
	width: 30px;
}
.tbl-col-view{
	width: 98px;
}
.tbl-col-approve{
	width: 70px;
}
.tbl-col-comment{
	width: 275px;
}
.tbl-col-audit{
	width: 440px;
}

/* SignIn*/

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.tab-pane{
  padding-top: 15px;
  height: 400px;
}

.navbar-inverse .navbar-nav > li > span{
  line-height: 20px;
  color: #d9edf7;
  padding: 15px 15px;
  position: relative;
  display: block;
  background-color: #2e6da4;
  font-weight: bold;
  text-align: center;
}
.navbar-inverse .navbar-nav > li > span.twoline{
  line-height: 20px;
  color: #d9edf7;
  padding: 5px 15px;
  position: relative;
  display: block;
  background-color: #2e6da4;
  font-weight: bold;
  text-align: center;
}

/***** GridView *****/
.grid-body{
    margin-bottom: 20px;
    position: relative;
}
.thead-outer{
    position:relative; 
    overflow:hidden;
    border-bottom: 2px solid #ddd;
}
.thead {
    white-space: nowrap;
    position: relative;
    padding-right: 15px;
    height: 32px;
}
.tbody {
    overflow: auto;
    height: 140px;
}
.row1 {
    white-space: nowrap;
    height: 30px;
}
.col {
    display: inline-block;
    width: 25%;
    white-space: normal;
    line-height: 30px;
    padding: 0 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    border-top: 1px solid #ddd;
}
.tbody .row1:first-child .col {
    border-top: 0;
}
.h-col {
    /*background-color: #d9edf7;*/
    font-weight: bold;
    border-top: 0px;
}
/***** Flex Box *****/
.fro-flex-vbox { width: 100%; height: 100%; display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */ display: -moz-box; display: -ms-flexbox; /* OLD - Firefox 19- (buggy but mostly works) */ display: -webkit-flex; /* TWEENER - IE 10 */ display: flex; /* NEW - Chrome */ -moz-box-orient: vertical; /* NEW, Spec - Opera 12.1, Firefox 20+ */ -webkit-box-orient: vertical; -webkit-flex-flow: column; -ms-flex-direction: column; flex-flow: column; }
.fro-flex-hbox { width: 100%; display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */ display: -moz-box; display: -ms-flexbox; /* OLD - Firefox 19- (buggy but mostly works) */ display: -webkit-flex; /* TWEENER - IE 10 */ display: flex; /* NEW - Chrome */ -moz-box-orient: horizontal; /* NEW, Spec - Opera 12.1, Firefox 20+ */ -webkit-box-orient: horizontal; -webkit-flex-flow: row; -ms-flex-direction: row; flex-flow: row; }
.fro-flex-val-1 { display: block; -webkit-box-flex: 1; /* NEW, Spec - Opera 12.1, Firefox 20+ */ -moz-box-flex: 1; /* OLD - iOS 6-, Safari 3.1-6 */ -ms-flex: 1; /* Firefox 19- */ -webkit-flex: 1; /* TWEENER - IE 10 */ flex: 1; /* NEW - Chrome */ }
.fro-flex-order-1 { display: block; -webkit-box-ordinal-group: 1; /* OLD - iOS 6-, Safari 3.1-6 */ -moz-box-ordinal-group: 1; /* OLD - Firefox 19- */ -ms-flex-order: 1; /* TWEENER - IE 10 */ -webkit-order: 1; /* NEW - Chrome */ order: 1; /* NEW, Spec - Opera 12.1, Firefox 20+ */ }
.fro-flex-order-2 { display: block; -webkit-box-ordinal-group: 2; /* OLD - iOS 6-, Safari 3.1-6 */ -moz-box-ordinal-group: 2; /* OLD - Firefox 19- */ -ms-flex-order: 2; /* TWEENER - IE 10 */ -webkit-order: 2; /* NEW - Chrome */ order: 2; /* NEW, Spec - Opera 12.1, Firefox 20+ */ }
.fro-flex-order-3 { display: block; -webkit-box-ordinal-group: 3; /* OLD - iOS 6-, Safari 3.1-6 */ -moz-box-ordinal-group: 3; /* OLD - Firefox 19- */ -ms-flex-order: 3; /* TWEENER - IE 10 */ -webkit-order: 3; /* NEW - Chrome */ order: 3; /* NEW, Spec - Opera 12.1, Firefox 20+ */ }
.fro-flex-order-4 { display: block; -webkit-box-ordinal-group: 4; /* OLD - iOS 6-, Safari 3.1-6 */ -moz-box-ordinal-group: 4; /* OLD - Firefox 19- */ -ms-flex-order: 4; /* TWEENER - IE 10 */ -webkit-order: 4; /* NEW - Chrome */ order: 4; /* NEW, Spec - Opera 12.1, Firefox 20+ */ }
.fro-toolbar { height: 45px; background: url(../images/header-footer-bg.png) repeat-x; position: relative; clear: both; }
.fro-toolbar .fro-button-left { padding: 10px; margin: 5px 0 0 5px; border-radius: 5px; /*background-color: #68C5FA;*/ height: 1em; display: block; color: #FFFFFF; }
.fro-toolbar .fro-button-right { padding: 10px; margin: 5px 5px 0 0; border-radius: 5px; /*background-color: #68C5FA;*/ height: 1em; display: block; color: #FFFFFF; }
